* {
  box-sizing: border-box;
}

body {
  background-color: deepskyblue;
}

form input {
  border-radius: 20px;
}

#body {
  z-index: -3;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a:link {
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}

#room {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
}

#room-top-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100vw;
  margin-bottom: 30px;
}

#images label {
  /* margin-left: 8px; */
  margin-top: 5px;
  font-family: 'Bangers', cursive;
  /* font-size: 20px; */
}

#images select {
  margin-left: 10px;
  margin-top: 5px;
  padding: 3px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin-right: 5px;
}

#images {
  padding: 15px;
  margin: 15px;
  max-width: 25vw;
  /* width: 600px; */
  overflow-y: auto;
  height: 100vh;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

.canvas-container {
  margin: 1em;
}
.gallery-element {
  padding: 0px;
  margin: 15px;
  width: 25%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#canvas-div {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* padding: 25px;
  margin: 15px; */
  height: 100%;
  align-items: center;
  /* border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff; */
}

#canvas {
  /* flex: 1; */
}

.img-container {
  overflow-y: auto;
  height: 625px;
}

#tools {
  /* width: 600px; */
  height: 100px;
  padding: 25px;
  margin: 15px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#chat {
  padding: 15px;
  margin: 15px;
  height: 100vh;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#chat-container h4 {
  font-family: 'Bangers', cursive;
  font-size: 18px;
  margin-bottom: 10px;
}

.message-input {
  padding: 2vh;
  text-align: center;
  width: 100%;
}
.message-bubble {
  padding: 0.5em;
  background-color: white;
  border-radius: 20px;
}

.message-input input[type='text'] {
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin-right: 5px;
}

.message-input button {
  font-size: 12px;
}

#display-messages {
  width: 100%;
  height: 90%;
  padding: 15px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: inset 20px 20px 60px #00a2d9, inset -20px -20px 60px #00dcff;
  overflow-y: scroll;
}

.image-bar-image {
  max-width: 60px;
}

#home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.register-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#auth-container {
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;

  width: 40vw;
  height: 80vh;
  margin-top: 7vh;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-title {
  text-align: center;
  margin: 30px;
  padding: 20px 40px;
}

.gallery-title h1 {
  font-size: 60px;
}

#gallery-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 40vw;
  height: 80vh;
  margin-top: 7vh;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#gallery-container h1 {
  margin: 15px;
}

#gallery-container h3 {
  margin: 10px;
  font-size: 25px;
  /* background: linear-gradient(black, #00dcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav-button {
  border: 0;
  border-radius: 9px;
  background: #00bfff;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
  font-family: 'Bangers', cursive;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-hover-button {
  border-radius: 9px;
  background: #00bfff;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
}

.nav-hover-button:hover {
  border-radius: 9px;
  background: #00bfff;
  color: white;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
}

hr {
  border: 3px solid skyblue;
  background-color: skyblue;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px lightskyblue, -1px -1px 3px deepskyblue;
}

#nav-container {
  z-index: 3;
  height: 15vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#nav-left {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

#nav-right {
  padding: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
  width: 20vw;
}

#nav-right h2 {
  padding: 5px;
}

#nav-right h2 {
  margin: 5px;
}

#logo {
  width: auto;
  height: 60px;
  align-self: center;
}

#title {
  margin: 0px 20px 0px 10px;
  align-self: center;
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 50px;
}

#auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  font-family: 'Bangers', cursive;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.login-btn:hover {
  cursor: pointer;
}

.column input[type='email'],
input[type='password'],
input[type='nickname'] {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  margin-right: 8px;
  /* text-align: center; */
}

.column form {
  text-align: center;
  width: 100%;
}

.column button {
  border-radius: 9px;
  background: #00bfff;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
  border: none;
}

.google-btn > div {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.google-btn:hover {
  cursor: pointer;
}

.login-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.link-to-signup {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 18px;
}

.login-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.divider {
  height: 1px;
  border-radius: 5px;
  width: 30%;
  background-color: white;
  margin: 0 20px;
}

.or-divider {
  font-family: 'Bangers', cursive;
}

#toggle-form {
  text-align: center;
}

.canvases-gallery {
  width: 100%;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 40%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#gallery-title h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
  margin-top: 70px;
  width: 40%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#gallery-outer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#join {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  margin-top: 70px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
  text-align: center;
}

#join-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#join-buttons {
  display: flex;
  justify-content: center;
}

#join-buttons div {
  margin: 10px;
}

#join-input {
  margin: 10px;
}

#join-input input[type='text'] {
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin-right: 5px;
}

#tools-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#tools-buttons {
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  flex: 1;
}

#tools-buttons img {
  width: 35px;
}

#profile-container {
  /* width: 40%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff; */
}

#profile-container div {
  font-size: 20px;
}

#profile-container h1 {
  text-align: center;
}

#profile-container div {
  text-align: center;
}

#profile {
  /* background-color: var(--background); */
  margin: auto;
  /* margin-top: 50px; */
  /* padding: 10px 30px; */
  /* padding-top: 10px; */
  /* padding-bottom: 0; */
  /* th: 600px; */
  /* height: 200px; */
  display: flex;
  flex-direction: column;

  width: 800px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#my-art-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 1px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff; */

  width: 100%;
  display: flex;
  flex-direction: column;
}

#image-container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding: 5px;
}

#hue-picker {
  padding-bottom: 25px;
}

.canvases-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: auto;
}

.canvases-container div {
  padding: 15px;
}

#my-art-container div {
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
}
