* {
  box-sizing: border-box;
}

body {
  background-color: deepskyblue;
}

a:link {
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}

#room {
  display: flex;
  flex-direction: column;
}

#room-top-container {
  display: flex;
  justify-content: space-between;
  height: 700px;
  margin-bottom: 30px;
}

#images {
  padding: 15px;
  margin: 15px;
  width: 25%;
  overflow-y: auto;
  height: 700px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#canvas-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 15px;
  height: 700px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

.img-container {
  height: 90%;
  overflow-y: auto;
}

#tools {
  padding: 25px;
  margin: 15px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#chat {
  padding: 15px;
  margin: 15px;
  width: 25%;
  height: 700px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#display-messages {
  width: 300px;
  height: 90%;
  padding: 15px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: inset 20px 20px 60px #00a2d9, inset -20px -20px 60px #00dcff;
  overflow-y: auto;
}

.image-bar-image {
  max-width: 120px;
  max-height: 120px;
}

#home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#auth-container {
  /* background-color: white; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  margin-top: 70px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 400px;
  margin-top: 70px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#gallery-container h1 {
  margin: 10px;
}

#gallery-container h3 {
  margin: 10px;
  font-size: 25px;
}

.nav-button {
  border-radius: 9px;
  background: #00bfff;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
  font-family: 'Bangers', cursive;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-hover-button {
  border-radius: 9px;
  background: #00bfff;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
}

.nav-hover-button:hover {
  border-radius: 9px;
  background: #00bfff;
  color: white;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
}

hr {
  border: 3px solid skyblue;
  background-color: skyblue;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 3px lightskyblue, -1px -1px 3px deepskyblue;
}

#nav-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
}

#logo {
  width: auto;
  height: 50px;
  align-self: center;
}

#title {
  margin: 0px 20px 0px 10px;
  align-self: center;
}

h1,
h3 {
  font-family: 'Bangers', cursive;
  /* margin-top: 0;
  margin-bottom: 0; */
}

h1 {
  font-size: 50px;
}

#auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  font-family: 'Bangers', cursive;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.login-btn:hover {
  cursor: pointer;
}

.column input[type='email'],
input[type='password'],
input[type='nickname'] {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin-right: 8px;
  /* text-align: center; */
}

.column form {
  text-align: center;
  width: 100%;
}

.column button {
  border-radius: 9px;
  background: #00bfff;
  box-shadow: 4px 4px 8px #00a2d9, -4px -4px 8px #00dcff;
  padding: 10px;
  border: none;
}

.google-btn > div {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.google-btn:hover {
  cursor: pointer;
}

.login-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.link-to-signup {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 18px;
}

.login-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0;
}

.divider {
  height: 1px;
  border-radius: 5px;
  width: 30%;
  background-color: white;
  margin: 0 20px;
}

.or-divider {
  font-family: 'Bangers', cursive;
}

#toggle-form {
  text-align: center;
}

#auth-container {
  padding: 20px;
}

#gallery {
  width: 40%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#gallery-title {
  font-family: 'Bangers', cursive;
  text-align: center;
  margin-top: 70px;
}

#gallery-outer {
  display: flex;
  justify-content: center;
  text-align: center;
}

#join {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  margin-top: 70px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
  text-align: center;
}

#join-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#join-buttons {
  display: flex;
  justify-content: center;
}

#join-buttons div {
  margin: 10px;
}

#join-input {
  margin: 10px;
}

#join-input input[type='text'] {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin-right: 5px;
}

#tools-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tools-buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#tools-buttons div {
  margin: 5px;
}

#profile-container {
  /* width: 40%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff; */
}

#profile-container div {
  font-size: 20px;
}

#profile-container h1 div {
  text-align: center;
}

#profile-container div {
  text-align: center;
}

#profile {
  /* background-color: var(--background); */
  margin: auto;
  /* margin-top: 50px; */
  /* padding: 10px 30px; */
  /* padding-top: 10px; */
  /* padding-bottom: 0; */
  /* max-width: 600px; */
  /* height: 200px; */
  display: flex;
  flex-direction: column;

  width: 60%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff;
}

#my-art-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 1px;
  background: #00bfff;
  box-shadow: 20px 20px 60px #00a2d9, -20px -20px 60px #00dcff; */

  background-color: var(--ilustration-background);
  margin-top: 50px;
  padding: 10px 30px;
  padding-top: 10px;
  padding-bottom: 0;
  max-width: 600px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}
